<main role="main" class="container">
    <div class="row">
        <div class="col-12">
            <h1>Description Url</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="url_list">
        <div class="card my-3 ">
            <p class="card-text">Url Original: {{ urls.description }}</p>
            <p class="card-text">New Url: {{ urls.newDescription }}</p>
            <p class="card-text">Count: {{ urls.count }}</p>
        </div>
        </div>
    </div>
</main>