<main role="main" class="container">
  <div class="row">
    <div class="col-12">
      <h1>Url Shorter</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <form class="form-inline" action="/urls" method="POST">
        <div class="input-group w-100">
          <input
            id="url_description"
            type="text"
            name="urlDescription"
            placeholder="La URL"
            class="form-control">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary" >Acortar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" id="url_list">
      {{#each urls}}
      <div  class="card my-3 ">
        
        <p class="card-text">Url Original: {{ description }}</p>
        <p class="card-text">New Url: {{ newDescription }}</p>
        <p class="card-text">Count: {{ count }}</p>
        
      </div>
      {{/each}}
    </div>
  </div>
</main>
